extends  ../layout/app

block contenido
    h1.text-center.text-4xl.font-bold Proyecto agregado correctamente 

    div 
        h6.text-xl.underline.mb-5 Proyectos 
        a(class="border-2 border-black p-4 text-white rounded-3xl bg-gray-800" href="../admin") Volver a Admin 
        //- ul 
        //-     each proyecto in proyectos 
                