extends ../layout/app
block styles

block contenido 
    
    div(class='py-5')
        h1(id="titulo" class="text-4xl my-5 font-extrabold text-center")= pagina


        div(class="mt-5 grid gap-4 grid-cols-1 min-h-10")
            h2(class="bg-black w-full font-extrabold text-white text-center text-3xl rounded-lg py-5") #{mensaje}
            a(href="/" class="mt-10 rounded-lg text-white font-bold bg-gray-600 hover:bg-slate-800 text-lg text-center py-5") Volver al Inicio


                
            
                    


                    
block scripts  
    
    