header(class=" mx-auto bg-black p-4 flex md:flex-row flex-col justify-around items-center") 
    a(href="/" class="flex flex-row") 
        img(src="/img/Logov2.png" alt="Logo GS Code" class="img-logo") 
        //- TODO fixear la ruta a la imagen desde admin
        h1(class="text-2xl text-white font-extrabold text-center pl-2") GS
            span(class="font-normal") .Code
    nav(class="my-5 text-sm md:flex md:items-center font-bold md:gap-3 hidden text-gray-500") 
        a(href="/" class="hover:text-white") Inicio
        a(href="/portfolio" class="hover:text-white") Portfolio
        a(href="/contacto" class="hover:text-white") Contacto
        a(href="/about-me" class="hover:text-white") About Me
    nav(class="my-5 text-sm flex flex-wrap  md:items-center font-bold md:gap-3 md:hidden text-gray-500") 
        div(class="")
            a(href="/" class="hover:text-white px-3") Inicio
            a(href="/portfolio" class="hover:text-white px-3") Portfolio
            a(href="/contacto" class="hover:text-white px-3") Contacto
            a(href="/about-me" class="hover:text-white px-3") About Me

